/* ここから下に記載していく */

/* 全体レイアウト */
*{
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: 0 auto;
    letter-spacing: 1px;
    line-height: 25px;
}

img{
    vertical-align: bottom;
}

video{
    vertical-align: bottom;
}

a{
    text-decoration: none;
}

/* ボタン全部のレイアウト */
.btn{
    width: 300px;
    height: 60px;
    background-color: #EB9015;
    display: flex;
    margin: 0 auto;
    align-items: center;
    margin-top: 60px;
    box-shadow: 0 3px 0 #696969;
}

.btn:hover{
    background-color: #ffa500;
    transition: background-color 0.5s;
}

.btn_doc{
    text-decoration: none;
    color: #ffffff;
    margin: 0 auto;
}

/* 文章の枠指定 */
.contents_docment{
    width: 500px;
    margin: 0 auto;
}

/* 文字固定表示 */
.fixed_bottom{
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
}

.fixed_left{
    position: fixed;
    bottom: 0;
    left: 0;
}

/* トップビューレイアウト */
.top{
    width: 100%;
    display: flex;
}

/* ヘッダーレイアウト */
#header{
    /* display: flex; */
    text-align: center;
    align-items: center;
    width: 20%;
    margin: 40px 20px;
    /* position: fixed; */
}

.logo{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hashtext01{
    font-size: 25px;
    font-weight: bold;
    text-align: end;
    margin: 20px 20px;
    color: #EB9015;
    z-index: 100;
}

.hashtext02{
    font-size: 15px;
    font-weight: bold;
    text-align: start;
    margin: 20px 20px;
    writing-mode: vertical-rl;
    color: #159FEB;
}

.nav_list{
    /* display: flex; */
    font-size: 13px;
}

.nav_list li{
    margin-bottom: 20px;
}

.nav_list--menu a{
    text-decoration: none;
    color: #484e4d;
}

/* ここからファーストビュー */

#main{
    width: 100%;
}

.firstview{
    /* height: 700px; */
    margin: 40px 60px;
    display: flex;
}

.firstview_content{
    width: 100%;
    position: relative;
}

#bg-video{
    width: 100%;
    opacity: 0.8;
}

.firstview_image{
    position: absolute;
    top: 0;
    right: 0;
}

.firstview_text{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
}

.doc_main{
    font-size: 40px;
    color: #484e4d;
    font-weight: bold;
    opacity: 0;
}

/* ここからAbout */
#about{
    padding-top: 200px;
    padding-bottom: 60px;
    background-color: #fafafa;
}

.inner{
    display: flex;
    justify-content: center;
}



.about_image{
    margin-right: 50px;
}

.about_text{
    position: relative;
}

.line{
    width: 20vw;
    height: 3px;
    background: #000000;
    position: absolute;
    top: 10;
    right: 0;
}

.inner h1{
    margin-bottom: 25px;
}

.inner h1 span{
    display: block;
    line-height: 1.5;
    letter-spacing: .1em;
    font-size: 2rem;
    font-weight: bold;
}

.inner p{
    line-height: 1.8;
    letter-spacing: .03em;
    font-size: 1rem;
    font-weight: lighter;
}

.more_info{
    display: flex;
    justify-content: flex-end;
}

.more_info a{
    width: 140px;
    text-align: right;
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: .1em;
    color: #484e4d;
    border-bottom: 1px solid #abbcc1;
    display: inline-block;
    padding-bottom: 16px;
    margin-top: 60px;
}

.more_info a:hover{
    transform: scale(1.1, 1.1);
    transition: transform 0.5s;
}

/* N coffeeについて紹介レイアウト */
#introduction{
    padding-top: 60px;
    padding-bottom: 60px;
}

.ourstory{
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
}

.ourstory_text{
    width: 50%;
    padding: 50px 70px;
}

.ourstory_text h3{
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

.ourstory_text h3::after{
    content: '';
    position: relative;
    top: -5px;
    left: 164px;
    display: inline-block;
    width: 322px;
    height: 3px;
    -webkit-transform: translateX(-50%);
    background-color: #484e4d;
}

.ourstory_text p{
    overflow-wrap: break-word;
    line-height: 1.8;
    letter-spacing: .03em;
}

.ourstory_image img{
    width: 100%;
}

/* ここからNEWS */
#news{
    text-align: center;
    margin: 60px auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: #484e4d;
}

.news_topic{
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 30px;
}

.news_contents{
    margin: 60px 0;
    display: flex;
    width: 60%;
    margin: 0 auto;
}

.news_contents--lists{
    /* display: flex; */
    /* justify-content: center; */
}

.news_contents--list{
    width: 300px;
    text-align: left;
    margin: 0 15px;
    padding: 15px 20px;
    background-color: #ffffff;
}

.news_contents--list img{
    width: 100%;
}

.news_datetime{
    font-size: 14px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
}

.news_doc{
    font-size: 13px;
}

.news_info{
    display: flex;
    justify-content: flex-end;
}

.news_info a:hover{
    transform: scale(1.1, 1.1);
    transition: transform 0.5s;
}

.news_info a{
    width: 140px;
    text-align: right;
    font-size: 0.8rem;
    font-weight: 400;
    letter-spacing: .1em;
    color: #484e4d;
    border-bottom: 1px solid #abbcc1;
    display: inline-block;
    padding-bottom: 3px;
    margin-top: 30px;
}

.news_contents--images{
    width: 100%;
    background-color: #ffffff;
}

/* difference 国ごとの特徴レイアウト */

.app_content{
    color: #000000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 50px;
    text-align: center;
}

.app_function--change{
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin: 20px auto;
}

.app_function--change p{
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;
    border: solid 1px #808080;
    background-color: #fafafa;
}
.app_frame{
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-between;
    padding: 80px 50px;
    background-color: #fafafa;
}

.product_image{
    width: 45%;
}

.product_text{
    width: 45%;
}

.product_info h1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
}

/* ここからコンタクト */

#contact{
    padding-top: 30px;
    padding-bottom: 140px;
    background-color: #fafafa;
}

.contact_wrapper{
    width: 680px;
    margin: 0 auto;
    text-align: center;
}

.contents h2{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.contents p{
    line-height: 1.8;
    letter-spacing: .03em;
}

.form{
    padding-top: 40px;
}

.form_table{
    display: flex;
    justify-content: center;
}

.form_table table{
    width: 700px;
    max-width: 100%;
    text-align: left;

}

.form_table tr{
    border: 1px solid #bfbfbf; 
    border-right-style: none;
    border-left-style: none;
}

.form_table th{
    vertical-align: middle;
    width: 240px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 16px;
    padding-right: 64px;
    border: 1px solid #bfbfbf; 
    border-left-style: none;
}

.form_table--inputbox{
    vertical-align: middle;
    width: 328px;
    height: 36px;
    padding: 8px 8px;
}

.form_table--inputbox input{
    width: 90%;
}

.check_lb{
    display: flex;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 8px;
}

.form_table textarea{
    width: 90%;
}

/* ここからフッター */
#footer{
    text-align: center;
    font-size: 16px;
    background-color: #707070;
}

.copyrights{
    padding: 30px 0;
    color: #fafafa;
}


/* ------------------------------
レスポンシブ対応
---------------------------------*/
@media screen and (max-width:640px){

    /*-----------------------------
    * header
    *------------------------------*/
    .logo{
        margin: 20px auto;
    }

    .nav{
        display: none;
    }

    .hashtext01{
        display: none;
    }

    .hashtext02{
        display: none;
    }

    /*-----------------------------
    * firstview
    *------------------------------*/
    .firstview{
        height: 500px;
    }

    .doc_main{
        font-size: 1.2rem;
    }

    /*-----------------------------
    * about
    *------------------------------*/
    #about{
        padding: 30px 0;
    }

    .about_image img{
        width: 80%;
    }

    .about_pic02{
        margin: -10% -20% 20% 40%;
    }

    .inner h1 {
        margin-bottom: 15px;
    }

    .inner h1 span {
        font-size: 1.2rem;
    }

    .inner p {
        font-size: 0.75rem;
    }


    /*-----------------------------
    * introduction
    *------------------------------*/
    #introduction{
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .ourstory{
        display: block;
        flex-direction: row-reverse;
    }

    .ourstory_text{
        width: 100%;
        padding: 30px 50px;
    }

    .ourstory_text h3{
        font-size: 1.5rem;
        margin-bottom: 20px;
    }
    .ourstory_text p{
        font-size: 1rem;
    }

    .ourstory_text h3::after{
        width: 200px;
        left: 90px;
    }

    /*-----------------------------
    * news
    *------------------------------*/
    #news {
        margin: 30px auto;
        padding-bottom:10px;
    }

    .news_contents--lists{
        display: block;
    }

    .news_contents--list{
        width: 90%;
        margin: 15px auto;
    }

    /*-----------------------------
    * difference
    *------------------------------*/
    .app_content{
        margin-bottom: 30px;
    }
    
    .app_function--change{
        width: 85%;
        margin: 20px auto;
    }
    .app_function--change p {
        font-size: 0.6rem;
        font-weight: bold;
        padding: 10px 5px;
        border: solid 1px #808080;
        background-color: #fafafa;
    }
    .app_frame{
        display: block;
        padding: 20px 25px;
        width: 100%;
    }
    .product_image{
        width: 100%;
    }

    .product_image img{
        width: 100%;
    }

    .product_text{
        width: 100%;

    }

    .product_info h1{
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
        margin: 20px 0;
    }

    /*-----------------------------
    * contact
    *------------------------------*/
    #contact{
        padding-bottom: 50px;
    }

    .contact_wrapper{
        width: 100%;
    }

    .contents{
        padding: 0 30px;
    }
    
    .form{
        width: 100%;
    }
    .form_table{
        padding: 0 30px;
    }

    .form_table table{
        width: 100%;
        text-align: left;
    }

    .form_table th{
        font-size: 13px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 15px;
    }

    /*-----------------------------
    * footer
    *------------------------------*/
    .copyrights{
        padding: 10px 0;
        font-size: 0.5rem;
    }

}